{% extends "WebBase.html" %}

{% block title %}Shan zee Shopping{% endblock %}

{% block extra_css %}
    
<style>

    /* Layout */
    .cart-container {
        display: flex;
        gap: 25px;
        padding: 30px;
    }

    .cart-left {
        /* width: 70%;  */
        border-radius: 10px;
    }

    .cart-right {
        /* width: 30%; */
        position: sticky;
        top: 20px;
    }

    /* Cart Item */
    .cart-item {
        display: flex;
        gap: 13px;
        padding: 15px;
        border-bottom: 1px solid #eee;
        /* padding: 10px; */
        border: 1px solid #e2e2e2;
        border-radius: 10px;
    }

    .cart-item img {
        width: 120px;
        border-radius: 5px;
    }

    .item-title {
        font-size: 15px;
        font-weight: 500;
    }

    .price-new {
        font-size: 20px;
        font-weight: bold;
        color: #000;
    }

    .price-old {
        text-decoration: line-through;
        color: gray;
        font-size: 14px;
    }

    .discount-tag {
        background: #ff7f00;
        color: white;
        padding: 2px 6px;
        font-size: 12px;
        border-radius: 4px;
    }

    /* Summary Card */
    .summary-box {
        background: white;
        border-radius: 10px;
        padding: 15px;
        border: 1px solid #ddd;
    }

    .summary-box h4 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .summary-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .checkout-btn {
        background: #ff7f00;
        border: none;
        padding: 14px;
        width: 100%;
        border-radius: 30px;
        color: white;
        font-size: 18px;
        font-weight: bold;
    }

    .safe-payment {
        margin-top: 20px;
        font-size: 14px;
        color: gray;
    }

    /* Select all */
    .select-all-row {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 17px;
        padding: 10px 0;
        border-bottom: 1px solid #eee;
    }

    .remove-item {
        cursor: pointer;
        color: gray;
        font-size: 18px;
    }

    .product-card {
        background: #fff;
        border-radius: 8px;
        padding: 12px;
        transition: all .2s ease-in-out;
                font-size: 12px;

    }

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 18px rgba(0,0,0,.1);
    }

    .product-img {
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }

    .sale-badge {
        background: #e00;
        color: #fff;
        padding: 3px 8px;
        font-size: 12px;
        border-radius: 4px;
        font-weight: bold;
    }

    .price {
        font-size: 16px;
        font-weight: bold;
        color: #e85858;
    }

     .old-price {
        text-decoration: line-through;
        color: gray;
        font-size: 12px;
        margin-left: 4px;
    }

    .sold-text {
        font-size: 12px;
        color: #555;
        margin-left: 8px;
    }

    .rating-stars {
        color: #f5b301;
        font-size: 16px;
    }
    .rating-stars span{
        font-size: 11px;
    }

    .add-cart-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #333;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 18px;
        background: #fff;
    }

    .view-more-btn {
        width: 200px;
        border-radius: 30px;
        padding: 10px;
        border: 1px solid #222;
        background: #fff;
        font-size: 18px;
        cursor: pointer;
        transition: .2s;
    }

    .view-more-btn:hover {
        background: #f2f2f2;
    }
    .product-card {
    background: #fff;
    border-radius: 8px;
    padding: 12px;
    transition: all .2s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
            z-index: 2001 !important;

    }

    .product-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 5px 18px rgba(0,0,0,.1);
    }

    /* FIX: Same image height for all */
    .product-img {
        width: 100%;
        height: 200px;       /* set equal height */
        border-radius: 8px;
        object-fit: cover;   /* crop nicely */
    }

    /* FIX: Make content grow evenly */
    .product-info {
        flex-grow: 1;
    }

    /* FIX: Align cart button at bottom */
    .add-cart-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #333;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 18px;
        background: #fff;
        margin-top: auto;  /* pushes button to bottom */
    }




    /* Close button */
    .close-btn {
        font-size: 24px;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 15px;
    }


    /* Hide sidebar on desktop */
    @media (min-width: 992px) {
        .mobile-sidebar.open .mobile-nav-items {
            display: none;
        }
    }
    .product-card{
        font-size: 11px;
    }
</style>
<style>
    .notification-item {
        padding: 10px;
        border-radius: 8px;
        margin-bottom: 6px;
        background: #f8f9fa;
    }

    .notification-item.unread {
        background: #eef6ff;
    }

    .notification-item .icon {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
    }

</style>
{% endblock %}


 


{% block content %}

    <div class="cart-container">
        <div class="row g-2">
            <div class="col-md-9">
                <!-- LEFT SECTION -->
                <div class="cart-left bg-white p-3">

                    <!-- Free Shipping Banner -->
                    {% comment %} <div class="alert alert-success d-flex justify-content-between">
                        <span><i class="fa-solid fa-check"></i> Free shipping special for you</span>
                        <span class="text-muted">Limited-time offer</span>
                    </div> {% endcomment %}

                    <!-- Select All -->
                    <div class="select-all-row">
                        <input type="checkbox" id="selectAll">
                        <label for="selectAll" class="m-0">Select all </label>
                    </div>
                    
                    {% if cart and cart.items.all %}
                        {% for cartItem in cart.items.all %}
                            <div class="cart-item"
                                data-id="{{ cartItem.id }}"
                                data-price="{{ cartItem.product.final_price }}"
                                data-qty="{{ cartItem.quantity }}"
                                data-shipping="{{ cartItem.product.shipping_charges }}"
                                data-offprice="{{ cartItem.product.off_price }}"
                                data-pricewithoutdiscount="{{ cartItem.product.total_price_without_discount }}"
                                data-additional="{{ cartItem.product.additional_shipping_charges }}">

                                <input type="checkbox"
                                    class="item-check cart-check" data-productId="{{cartItem.product.id}}"
                                                        data-variantId="{{cartItem.variant.id}}"
                                                        data-itemId="{{cartItem.id}}"
                                                        data-shipping="{{ cartItem.product.shipping_charges }}"
                                                        data-offprice="{{ cartItem.product.off_price }}"
                                                        data-additional="{{ cartItem.product.additional_shipping_charges }}"
                                                        checked>
                                <a href="{% url 'ProductDetails' id=cartItem.product.id %}">
                                    {% if cartItem.product.images.all %}
                                        <img src="{{ cartItem.product.images.all.0.image.url }}"
                                            alt="{{ cartItem.product.name }}">
                                    {% endif %}
                                </a>

                                <div style="flex-grow:1;">
                                    <div class="item-title">
                                        {{ cartItem.product.name }}
                                        {% if cartItem.variant %}
                                            ({{ cartItem.variant.name }})
                                        {% endif %}
                                    </div>

                                    <div class="mt-2">
                                        <span class="price-new">
                                            Rs.{{ cartItem.product.final_price }}
                                        </span>
                                    </div>

                                    <input type="number"
                                        class="form-control qty-select mt-2"
                                        min="1"
                                        value="{{ cartItem.quantity }}"
                                        style="width:120px;">
                                </div>

                                <i class="fa-solid fa-trash remove-item"
                                data-id="{{ cartItem.id }}"></i>
                            </div>

                        {% endfor %}
                    {% else %}
                        <p class="text-muted">Your cart is empty.</p>

                        <script>
                        $(function () {
                            $(".checkout-btn")
                                .addClass("disabled")
                                .css({
                                    "pointer-events": "none",
                                    "opacity": "0.5",
                                    "cursor": "not-allowed"
                                })
                                .removeAttr("href");
                        });
                        </script>
                    {% endif %}


                </div>
{% comment %}                 
                <div class="container  my-3">

                    <div class="row g-2 product-container">

                        <!-- ========== PRODUCT CARD 1 ========== -->
                        <div class="col-md-3 col-6">
                            <div class="product-card">
                                <img src="../images/product pic1.jpg" class="product-img">

                                <div class="product-info">
                                    <div class="mt-2">Pack of 5 Pairs Men's Solid Color</div>

                                    <div class="price mt-1">
                                        Rs.1,717
                                        <span class="old-price">3,681</span>
                                        <span class="sold-text">30K+ sold</span>
                                    </div>

                                    <div class="rating-stars mt-1">
                                        ★★★★☆ <span class="text-muted">(2,708)</span>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end mt-2">
                                    <div class="add-cart-btn">🛒</div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- View More Button -->
                    <div class="text-center my-4">
                        <button class="view-more-btn">View more ▼</button>
                    </div>

                </div> {% endcomment %}
            </div>
            <div class="col-md-3">
                <!-- RIGHT SECTION -->
                <div class="cart-right">
                    <div class="summary-box">
                        <h4>Order Summary</h4>
                        <hr>
                        <div class="summary-row">
                            <span>Item total:</span>
                            <span id="itemTotal">Rs.{{ total_price_without_discount }}</span>
                        </div>

                        <div class="summary-row">
                            <span>Shipping:</span>
                            <span id="itemShippingCharges">Rs.{{ shipping_total }}</span>
                        </div>

                        <div class="summary-row">
                            <span>Additional Shipping:</span>
                            <span id="itemAdditionalCharges">Rs.{{ additional_total }}</span>
                        </div>

                        <div class="summary-row">
                            <span>Discount:</span>
                            <span id="itemDiscount">Rs.{{ total_off_price }}</span>
                        </div>

                        <div class="summary-row fw-bold">
                            <span>Total</span>
                            <span id="finalTotal">Rs.{{ final_total }}</span>
                        </div>

                        



                        <a href="./CheckOut.html" class="checkout-btn">Checkout</a>
                        <div class="safe-payment mt-3">
                                <i class="fa-solid fa-circle-info text-success"></i>
                                Delivary: till {{ estimated_date|date:"d M Y" }}
                        </div>
                        <div class="safe-payment mt-3">
                                <i class="fa-solid fa-circle-info text-success"></i>
                                Item availability and pricing are not guaranteed until payment is final.
                        </div>
                        <div class="safe-payment mt-3">
                            <i class="fa-solid fa-lock text-success"></i> You will not be charged until you review this order on the next page
                        </div>
                        <div class="safe-payment mt-3">
                                <i class="fa-solid fa-shield text-success"></i>
                                <b>Safe Payment Options</b>
                                <div>
                                    <span class="text-success">We committed to protecting your payment information.</span> We follow PCI DSS standards, use strong encryption, and perform regular reviews of its system to protect your privacy.
                                </div>
                        </div>
                        <span>
                        </span>
                        <ol>
                            <li>
                                Payment Methods
                            <div class="row g-1">
                                        <div class="col-md-2 col-4"><img class="w-100" src="../images/easypaisa.jpeg" alt="" aria-hidden="true" class="lazy-image _2jzBO2ld loaded" data-retry-count="0" data-was-processed="true"></div>
                                        <div class="col-md-2 col-4"><img class="w-100" src="../images/jazzcash.png" alt="" aria-hidden="true" class="lazy-image _2jzBO2ld loaded" data-retry-count="0" data-was-processed="true"></div>
                                        <div class="col-md-2 col-4"><img class="w-100" src="../images/visa.png" alt="" aria-hidden="true" class="lazy-image _2jzBO2ld loaded" data-retry-count="0" data-was-processed="true"></div>
                                </div>
                            </li>
                            <li>
                                Security certification
                                <div class="row g-1">
                                    <div class="col-md-2 col-4"><img data-state="succ" class="w-100" src="https://aimg.kwcdn.com/upload_aimg/temu/80d57653-6e89-4bd5-82c4-ac1e8e2489fd.png.slim.png?imageView2/2/w/120/q/70/format/avif" alt="" aria-hidden="true" class="lazy-image _1bM17MOZ loaded" data-retry-count="0" data-was-processed="true"></div>
                                    <div class="col-md-2 col-4"><img data-state="succ" class="w-100" src="https://aimg.kwcdn.com/upload_aimg/temu/bcb8bf23-78c9-45ab-b480-f7020d1a5f66.png.slim.png?imageView2/2/w/120/q/70/format/avif" alt="" aria-hidden="true" class="lazy-image _1bM17MOZ loaded" data-retry-count="0" data-was-processed="true"></div>
                                    <div class="col-md-2 col-4"><img data-state="succ" class="w-100" src="https://aimg.kwcdn.com/upload_aimg/temu/28a227c9-37e6-4a82-b23b-0ad7814feed1.png.slim.png?imageView2/2/w/120/q/70/format/avif" alt="" aria-hidden="true" class="lazy-image _1bM17MOZ loaded" data-retry-count="0" data-was-processed="true"></div>
                                    <div class="col-md-2 col-4"><img data-state="succ" class="w-100" src="https://aimg.kwcdn.com/upload_aimg/temu/f1c00d04-7dde-4d4a-ae3d-b8aad2de8f96.png.slim.png?imageView2/2/w/120/q/70/format/avif" alt="" aria-hidden="true" class="lazy-image _1bM17MOZ loaded" data-retry-count="0" data-was-processed="true"></div>
                                    <div class="col-md-2 col-4"><img data-state="succ" class="w-100" src="https://aimg.kwcdn.com/upload_aimg/temu/65e96f45-9ff5-435a-afbf-0785934809ef.png.slim.png?imageView2/2/w/120/q/70/format/avif" alt="" aria-hidden="true" class="lazy-image _1bM17MOZ loaded" data-retry-count="0" data-was-processed="true"></div>
                                    <div class="col-md-2 col-4"><img data-state="succ" class="w-100" src="https://aimg.kwcdn.com/upload_aimg/temu/1f29a857-fe21-444e-8617-f57f5aa064f4.png.slim.png?imageView2/2/w/120/q/70/format/avif" alt="" aria-hidden="true" class="lazy-image _1bM17MOZ loaded" data-retry-count="0" data-was-processed="true"></div>
                                    <div class="col-md-2 col-4"><img data-state="succ" class="w-100" src="https://aimg.kwcdn.com/upload_aimg/temukr/c882af4f-f9f0-4c7f-b49c-3438e0278efa.png.slim.png?imageView2/2/w/120/q/70/format/avif" alt="" aria-hidden="true" class="lazy-image _1bM17MOZ loaded" data-retry-count="0" data-was-processed="true"></div>
                                </div>
                            </li>
                        </ol>
                        <div class="safe-payment mt-3">
                            <i class="fa-solid fa-lock text-success"></i> 
                            <b>Secure privacy</b>
                            <div>
                                Protecting your privacy is important to us! Please be assured that your information will be kept secured and uncompromised. We will only use your information in accordance with our privacy policy to provide and improve our services to you.
                            </div>
                            <div>
                                <b>Learn more<i class="fa-solid fa-angle-right"></i></b>
                            </div>
                        </div>
                        <div class="safe-payment mt-3">
                            <i class="fa-solid fa-cart-shopping text-success"></i> 
                            <b>Purchase Protection</b>
                            <div>
                                Shop confidently on Temu knowing that if something goes wrong, we've always got your back.
                            </div>
                            <div>
                                <b>See program terms<i class="fa-solid fa-angle-right"></i></b>
                            </div>
                        </div>
                        <div class="safe-payment mt-3">
                            <i class="fa-solid fa-lock text-success"></i> 
                            <b>Delivery guarantee</b>
                            <div>
                                <div>
                                    <span class="text-success">
                                        <svg class="Az7sxuI-" alt="" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024" width="1em" height="1em" fill="#222222" aria-hidden="true"><path d="M833.3 246.6c25.1-24.9 65.6-24.7 90.5 0.4 22.6 22.8 24.5 58.4 5.9 83.3l-6.3 7.2-496.3 492.2c-22.8 22.6-58.2 24.5-83.2 6l-7.2-6.2-245.5-246.1c-25-25-24.9-65.5 0.1-90.5 22.8-22.7 58.3-24.7 83.4-6.1l7.1 6.2 200.4 200.8 451.1-447.2z"></path></svg>
                                    </span>
                                    Rs.280 Credit for delay </div>
                                <div>
                                    <span class="text-success">
                                        <svg class="Az7sxuI-" alt="" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024" width="1em" height="1em" fill="#222222" aria-hidden="true"><path d="M833.3 246.6c25.1-24.9 65.6-24.7 90.5 0.4 22.6 22.8 24.5 58.4 5.9 83.3l-6.3 7.2-496.3 492.2c-22.8 22.6-58.2 24.5-83.2 6l-7.2-6.2-245.5-246.1c-25-25-24.9-65.5 0.1-90.5 22.8-22.7 58.3-24.7 83.4-6.1l7.1 6.2 200.4 200.8 451.1-447.2z"></path></svg>
                                    </span>
                                    15-day no update refund</div>
                                <div>
                                    <span class="text-success">
                                        <svg class="Az7sxuI-" alt="" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024" width="1em" height="1em" fill="#222222" aria-hidden="true"><path d="M833.3 246.6c25.1-24.9 65.6-24.7 90.5 0.4 22.6 22.8 24.5 58.4 5.9 83.3l-6.3 7.2-496.3 492.2c-22.8 22.6-58.2 24.5-83.2 6l-7.2-6.2-245.5-246.1c-25-25-24.9-65.5 0.1-90.5 22.8-22.7 58.3-24.7 83.4-6.1l7.1 6.2 200.4 200.8 451.1-447.2z"></path></svg>
                                    </span>
                                    Return if item damaged</div>
                                <div>
                                    <span class="text-success">
                                        <svg class="Az7sxuI-" alt="" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024" width="1em" height="1em" fill="#222222" aria-hidden="true"><path d="M833.3 246.6c25.1-24.9 65.6-24.7 90.5 0.4 22.6 22.8 24.5 58.4 5.9 83.3l-6.3 7.2-496.3 492.2c-22.8 22.6-58.2 24.5-83.2 6l-7.2-6.2-245.5-246.1c-25-25-24.9-65.5 0.1-90.5 22.8-22.7 58.3-24.7 83.4-6.1l7.1 6.2 200.4 200.8 451.1-447.2z"></path></svg>
                                    </span>
                                    30-day no delivery refund</div>
                                <div>
                                    <b>Learn more<i class="fa-solid fa-angle-right"></i></b>
                                </div>
        
                            </div>
                        </div>
                        <div class="safe-payment mt-3">
                            <i class="fa-solid fa-lock text-success"></i> 
                            <b>Our Tree Planting Program<i class="fa-solid fa-angle-right"></i></b>
                        </div>
                
                    </div>
                </div>
            </div>
        </div>
        

    

    </div>
{% endblock %}

{% block extra_js %}

    <script>
        function calculateCart() {

            let subtotal = 0;
            let shipping = 0;
            let additional = 0;
            let offprice = 0;
            let pricewithoutdiscount = 0;

            document.querySelectorAll(".cart-item").forEach(item => {

                const checked = item.querySelector(".cart-check").checked;

                if(!checked) return;

                const price = parseFloat(item.dataset.price);
                const offprc = parseFloat(item.dataset.offprice);
                const ship = parseFloat(item.dataset.shipping);
                const pricewithoutdis = parseFloat(item.dataset.pricewithoutdiscount);
                const add = parseFloat(item.dataset.additional);
                const qty = parseInt(item.querySelector(".qty-select").value);

                subtotal += price * qty;
                offprice += offprc * qty;
                pricewithoutdiscount += pricewithoutdis * qty;
                shipping += ship;
                additional += add;
            });

            const total = subtotal + shipping + additional;

            document.getElementById("itemTotal").innerText = "Rs." + pricewithoutdiscount.toFixed(2);
            document.getElementById("itemDiscount").innerText = "Rs." + offprice.toFixed(2);
            document.getElementById("itemShippingCharges").innerText = "Rs." + shipping.toFixed(2);
            document.getElementById("itemAdditionalCharges").innerText = "Rs." + additional.toFixed(2);
            document.getElementById("finalTotal").innerText = "Rs." + total.toFixed(2);
        }

        {% comment %} document.addEventListener("change", function(e){

            if(e.target.classList.contains("qty-select") ||
            e.target.classList.contains("cart-check")){
                calculateCart();
            }

        }); {% endcomment %}

        calculateCart();

        document.querySelector(".checkout-btn").addEventListener("click", function (e) {
            e.preventDefault();
            const selectedItems = [];

            document.querySelectorAll(".item-check:checked").forEach(check => {
                const cartItem = check.closest(".cart-item");
                selectedItems.push({
                    cart_item_id: check.dataset.itemid  || null,
                    product_id: check.dataset.productid || null,
                    variant_id: check.dataset.variantid || null,
                    quantity: parseInt(
                        cartItem.querySelector(".qty-select").value
                    ),
                    price: parseFloat(check.dataset.price)
                });
            });

            if (selectedItems.length === 0) {
                showAlert("Please select at least one item to checkout.", "warning");
                return;
            }

            fetch("{% url 'SaveCheckoutSession' %}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": "{{ csrf_token }}"
                },
                body: JSON.stringify({
                    items: selectedItems
                })
            })
            .then(res => res.json())
            .then(data => {
                if (data.success) {
                    window.location.href = "{% url 'CheckoutPage' %}";
                } else {
                    showAlert("Unable to proceed to checkout", "danger");
                }
            }); 
        });
        /* ================= JS FUNCTIONALITY ================= */
                    
        // Update totals
        
        // Select all
        document.getElementById("selectAll").addEventListener("change", function () {
            document.querySelector(".item-check").checked = this.checked;
        });
        function updateTotals() {
            let total = 0;
            let discount = 0;
            let offprice = 0;
            let pricewithoutdiscount = 0;


            document.querySelectorAll(".cart-item").forEach(item => {
                const checkbox = item.querySelector(".item-check");
                if (!checkbox.checked) return;

                const qty = parseInt(item.querySelector(".qty-select").value) || 1;
                const price = parseFloat(item.dataset.price);
                const offprc = parseFloat(item.dataset.offprice);
                const pricewithoutdis = parseFloat(item.dataset.pricewithoutdiscount);
                pricewithoutdiscount += pricewithoutdis * qty;

                total += price * qty;
                offprice += offprc * qty;
            });

            document.getElementById("finalTotal").innerText = "Rs." + total.toFixed(2);
            //document.getElementById("itemTotal").innerText = "Rs." + total.toFixed(0);
            document.getElementById("itemDiscount").innerText = "-Rs."+offprice.toFixed(2);
            document.getElementById("itemTotal").innerText = "Rs." + pricewithoutdiscount.toFixed(2);

        }

        // Qty change
        document.querySelectorAll(".qty-select").forEach(input => {
            input.addEventListener("input", calculateCart);
        });

        // Checkbox change
        document.querySelectorAll(".item-check").forEach(check => {
            check.addEventListener("change", calculateCart);
        });

        // Initial calculation
        calculateCart();

        document.querySelectorAll(".remove-item").forEach(btn => {
            btn.addEventListener("click", function () {
                const item = this.closest(".cart-item");
                const itemId = this.dataset.id;

                fetch("{% url 'RemoveCartItem' %}", {
                    method: "POST",
                    credentials: "same-origin",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    body: JSON.stringify({ item_id: itemId })
                })
                .then(res => { if (res.ok) 
                    { window.location.reload; return res.json()
                .then(data => ({ status: 'success', data })); }  else if (res.status === 400) { return res.json()
                .then(data => ({ status: 'validation_error', data })); } else if (res.status === 401) { return { status: 'auth_error' }; } else {return { status: 'server_error' };} }) 
                .then(result => { if (result.status === 'success') { showAlert(result.message, "success"); } else if (result.status === 'auth_error') { showAlert("Session expired. Please login again.", "danger"); } else { showAlert("Server error. Logged in database.", "danger"); } }) 
                .catch(err => { showAlert("Connection failed!", "danger"); console.error("Fetch Error:", err); });
            });
        });

        document.querySelector(".qty-select").addEventListener("input", calculateCart());

    </script>
{% endblock %}