
<div class="cart-body">

    <div class="cart-items">
        {% if cart %}
            {% for item in cart.items.all %}
            <div class="cart-item">
                <img src="{{ item.product.images.first.image.url }}" width="60">

                <div>
                    <div>{{ item.product.name }}</div>
                    <div>Qty: {{ item.quantity }}</div>
                    <div>Rs {{ item.product.final_price|floatformat:2 }}</div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p>Your cart is empty</p>
        {% endif %}
    </div>

    <div class="cart-footer">
        <a href="{% url 'Cart' %}" class="checkout-btn">Checkout</a>
    </div>

</div>